[submodule "KGCOEReport_template"]
	path = KGCOEReport_template
	url = https://github.com/Tcenova/KGCOEReport_template.git
[submodule "Digital-Electionics-and-Circuits"]
	path = Digital-Electionics-and-Circuits
	url = https://github.com/HugGa/Digital-Electionics-and-Circuits.git
